@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::-webkit-scrollbar {
    width: 0rem;
  }

  * {
    scrollbar-width: none;
  }

  :root {
    --animate-delay: 0.333s;
  }

  .carousel-item:nth-child(1) {
    background-image: url(/dist/home/media/images/1.jpg);
  }

  .carousel-item:nth-child(2) {
    background-image: url(/dist/home/media/images/2.jpg);
  }

  .carousel-item:nth-child(3) {
    background-image: url(/dist/home/media/images/3.jpg);
  }

  .carousel-item:nth-child(4) {
    background-image: url(/dist/home/media/images/4.jpg);
  }

  .about-us-image {
    background-image: url(/dist/home/media/images/5.jpg);
  }

  .about-us-hero {
    background-image: url(/dist/about-us/media/images/tradition-bg.jpg);
  }

  .tradition {
    background-image: url(/dist/about-us/media/images/about-us-tradition.jpg);
  }
}
